:root {
  --primary-color-dark: #006F45;
  --primary-color-light: #5e5554;
}

body {
  background-color: #000;
}

* {
  color: var(--primary-color-dark);
  font-family: monospace;
  font-size: xxx-large;
}

h1 {
  text-align: center;
}

button {
  background-color: #000;
  border-style: none;
  color: var(--primary-color-light);
  display: block;
  height: 100px;
  text-align: center;
  width: 100%;
  margin: 0.2em 0;
}

button:enabled {
  color: var(--primary-color-dark);
  cursor: pointer;
}
