:root {
  --primary-color-dark: #006F45;
  --primary-color-darker: #003F25;
  --primary-color-light: #5e5554;
}

* {
  color: var(--primary-color-dark);
  font-family: monospace;
  font-size: xxx-large;
  text-align: center;
  padding: 0;
}

body {
  background-color: #000;
}

button {
  background-color: #000;
  border-style: none;
  color: var(--primary-color-light);
  height: 100px;
  width: 100%;
}

button:enabled {
  color: var(--primary-color-dark);
  cursor: pointer;
}

input {
  background-color: #000;
  border-style: none;
  color: var(--primary-color-darker);
  height: 100px;
  width: 100%;
}

input:focus {
  outline: none;
}
