[Unit]
Description=send a push message, body from a socket

[Service]
DynamicUser=yes
User=_pusher
Group=pusher
Restart=on-failure
EnvironmentFile=/etc/pusher/push-send.conf
RuntimeDirectory=pusher
ExecStart=/usr/bin/push-send --server pusher
