[Unit]
Description=push server

[Service]
DynamicUser=yes
User=_pusher
Group=pusher
StateDirectory=pusher
Restart=on-failure
EnvironmentFile=/etc/pusher/push-server.conf
ReadOnlyPaths=/usr/share/pusher
WorkingDirectory=/usr/share/pusher
ExecStart=/usr/bin/push-server

[Install]
WantedBy=multi-user.target
